extends layout

block content
  h1= title
  body 
    form(method='POST', action='/new')
      p 
        | author: 
        input(type='text', name='messageUser', value='')
        | <br />message: 
        input(type='text', name='messageText', value='')
      input(type='submit', value='Submit')